{% extends 'base.html' %}
{% block styles %}
{{ super ()}}

<link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container-1">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                {% for blog in blogs %}
                <p class="content">{{blog.blog_content}}</p>
                <p class="posted" >Posted by {{blog.user.username|capitalize}}</p>
                <a href="/blog/comment/{{blog.id}}">View comments</a>
                <a href="/blog/{{blog.id}}/delete/" >Delete blog</a>
              {% endfor %} 




        </div>
    </div>
</div>