{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super ()}}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
<html>
  
  <body>
    <nav class="nav" style="margin-left: 30%; font-family: 'Caveat', cursive; font-size:30px;">
      <a class="nav-link active" href="#">Footballclubs</a>
      <a class="nav-link active" href="#">Poetry</a>
      <a class="nav-link active" href="#">Nostalgia</a>
      <a class="nav-link active" href="#">Artists</a>
    </nav>

 
<ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
    <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
    <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
    {% else %}
    <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
    {%endif%}
  </ul>

 

<h1 class="blog" style="font-family: 'Caveat', cursive; font-size:30px; text-align: center; color: rgb(3, 3, 24);">
  Welcome To Blogs
</h1>

<div class="container">
  <a class="blog" style="font-size: 20px; color: rgb(12, 10, 10); padding-left: 40%;" href="{{url_for('main.create_blog')}}">Showcase your own blog</a>
</div>

<div class="container">
      <div class="quotes">
        <div class="well well-lg">
          <p class="q" style="text-align: center;font-size: 30px; color: rgb(4, 43, 11);">QUOTE</p>
          <p class="author" style="font-size: 20px;">{{quotes.author}}</p>
          <p class="quote">{{quotes.quote}}</p>
        </div>
      </div>
      </div>
    
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a class="foota" href="{{ url_for('main.football', category="footballclubs") }}" style="font-family: 'Caveat', cursive;font-size: 30px; text-align: center; color: rgb(5, 41, 114); ">Football clubs</a><br>
       
      </div>


  <div class="col-md-6">
          <a class="foota" href="{{ url_for('main.football', category="poetry") }}" style=" font-family: 'Caveat', cursive;font-size: 30px;  color: rgb(5, 17, 100);">Poetry</a><br>
       
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
          <a class="nos" href="{{ url_for('main.football', category="nostalgia") }}" style="font-family: 'Caveat', cursive;font-size: 30px;  color: rgb(6, 14, 102);">Nostalgia</a><br>
       
      </div>
  
      <div class="col-md-6">
          <a class="artists" href="{{ url_for('main.football', category="artists") }}" style=" font-family :'Caveat', cursive;font-size: 30px;  color: rgb(9, 14, 102);">Artists</a><br>
       
      </div>
    </div>
  </div>
  </div>
</body>
</html>
  {% endblock %}

  