{% macro displayBlog(blog_list) %}

    {% for blog in blog_list %}

        <div class="col-md-3">
            <div class="well wee-lg">
                <h4 class="blog1" style="text-align: center;">{{ blog.blog_title }}</h4>
                <p>{{ blog.blog_content| truncate(500) }}</p>
                <p>Author:{{ blog.user.username }} <a href="{{url_for('main.comment', id=blog.id)}}" class="btn btn-primar y  pull-right">Comm e nt</a></p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{%macro displayComments(comments_list)%}
{%for comment in comments_list%}
<div class="col-md-12">
    <div class="com">
        <div class="well well-sm" style="width: 30%; margin-left: 300px;">
            <p class="comment" style="text-align: center;">{{comment.comment}}</p>
        </div>
    </div>
</div>

{%endfor%}
{%endmacro%}